.react-calendar {
  width: 100% !important;
  height: 100%;
  max-width: 1000px !important;
  padding: 20px;
  border-radius: 40px;
  /* border: 1px solid #a4a4a4; */
}

/* 네비게이션 가운데 정렬 */
.react-calendar__navigation {
  justify-content: start;
}

.react-calendar__navigation {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
  letter-spacing: 0.48px;
  color: #14191e;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #eee;
  border-radius: 50px;
}

/* 년/월 상단 네비게이션 칸 크기 줄이기 */
.react-calendar__navigation__label {
  flex-grow: 0 !important;
}

.react-calendar__month-view__weekdays {
  color: #14191e;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.36px;
}

/* 요일 밑줄 제거 */
.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr) !important;
  /* justify-content: start; */
  gap: 10px !important;
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}

/* 일 날짜 간격 */
.react-calendar__tile {
  padding: 14px 10px !important;
  box-sizing: border-box !important;
  /* width: 120px !important; */
  height: 166px !important;
  background: #f6f6f6 !important;
  border-radius: 30px !important;

  display: flex !important;
  flex-direction: column !important;
  align-items: start !important;

  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 30px !important; /* 166.667% */
  letter-spacing: 0.36px !important;
}

/* 현재 날짜*/
.react-calendar__tile--now {
  background: transparent;
  color: black !important;
  font-weight: bold;
  border: 1px solid #fa7328 !important;
  /* border: 1px solid #757575; */
  /* border-radius: 100%; */
}

.react-calendar__tile:hover {
  background: #feddcb !important;
  color: black !important;
  font-weight: bold;

  /* border: 1px solid #757575; */
  /* border-radius: 100%; */
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #feddcb !important;
  color: #fa7328 !important;
}

.react-calendar__tile--active {
  background: #feddcb !important;
  color: #fa7328 !important;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #feddcb;
  color: #fa7328 !important;
}
