@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination {
  --swiper-pagination-color: bg-white;
}

.swiper-pagination-bullet-active {
  --swiper-pagination-color: white;
}

#joinSlider .swiper-button-next,
#joinSlider .swiper-button-prev {
  --swiper-navigation-color: white;
}

.scroll-container {
  width: 100%;
  border-radius: 20px;
}

.scroll-container::-webkit-scrollbar {
  width: 5px;
  position: relative;
  right: 30px;
}

.scroll-container::-webkit-scrollbar-thumb {
  /* primary-orange6 */
  background-color: #fa7328;
  border-radius: 20px;
}

.scroll-container::-webkit-scrollbar-track {
  border-radius: 20px;
  margin: 10px 0px;
  /* box-shadow: inset 0px 0px 5px white; */
}

// gray-scroll
.gray-scroll-container {
  width: 100%;
}

.gray-scroll-container::-webkit-scrollbar {
  width: 14px;
}

.gray-scroll-container::-webkit-scrollbar-thumb {
  background-color: #dcdddd;
  border-radius: 8.5px;
}

.gray-scroll-container::-webkit-scrollbar-track {
  border-radius: 8.5px;
}
